.custom_btn {
  background: $white;
  padding: 15px 30px;
  margin: 10px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: $font-bold;
  font-size: 14px;
  color: $blue;
  border: 1px solid transparent;
  @include round-border;
  @include shadow;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &.small {
    padding: 10px 35px;
    font-size: 10px;
  }

  &.large {
    font-size: 18px;
    padding: 25px 85px;
  }

  &.success {
    background: $green;
    color: $white;
    text-shadow: 0 0 1px $grey;
  }

  &.off {
    background: $light;
  }

  &.selected {
    background: $white;
    color: $dark-green;
    border: 1px solid $dark-green;
    font-size: 12px;
  }

  &.disabled {
    background: $grey;
    color: rgba($dark, 0.5);

    &:hover {
      cursor: not-allowed;
    }
  }
}
