.difficulty_box {
  margin-top: 20px;
}

.difficulty_box_text {
  text-align: center;
  color: $white;
  text-transform: uppercase;
  font-weight: $font-bold;
  font-size: 14px;
  text-shadow: 1px 1px 1px $dark-blue;
}
