.tile_box_input {
  font-size: 38px;
  color: $dark-green;
  text-shadow: 2px 2px 0px $green;

  &.active {
    @include green-gradient;
  }

  &:hover {
    @include green-gradient;
    color: $white;
    @include shadow-light;
  }

  &:focus {
    outline: none;
  }
}

.blockInput {
  opacity: 0.6;
}
