$dark-blue: #0003c7;
$blue: #1b76ff;
$dark: #002253;
$green: #b5e655;
$dark-green: #96cb2f;
$white: #ffffff;
$grey: #d9d9d9;
$light: #f0f0f0;

// BOARD DIMENSIONS
$board-width: 600px;
$board-height: 600px;

$block-size: $board-width * 0.3;

$tile-size: $block-size * 0.321;
