@import 'variables';
@import 'font';

body {
  background-color: $white;
  background-image: linear-gradient(
    to right bottom,
    #1b76ff,
    #0060f3,
    #0049e6,
    #002ed8,
    #0003c7
  );
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

// MIXINS
@import 'mixins/round-border';
@import 'mixins/shadow';
@import 'mixins/fade';
@import 'mixins/green-gradient';

// COMPONENTS
@import 'components/board.scss';
@import 'components/block.scss';
@import 'components/value.scss';
@import 'components/input.scss';
@import 'components/popup.scss';
